# Python bytecode
__pycache__/
*.py[cod]

# Packages
*.egg
*.egg-info/
dist/
build/
libs/

# Configuration files
*.ini
*.cfg
*.conf

# Temporary files
*.swp
*.bak
*.tmp
*.temp

# Virtual Environments
venv/
.env
env/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Operating System
.DS_Store
Thumbs.db

# Data files
*.csv
*.xlsx
*.json

# Logs and databases
*.log
*.sql
*.sqlite
*.db
